In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('year_1988_2015.csv')
country = pd.read_csv('country_eng-2.csv')

yr_data = df.merge(country, on='Country', how='left')

del yr_data["Country"]
del yr_data["Unit1"]
del yr_data['hs6']
del yr_data['hs9']


yr_data = yr_data[["Year","exp_imp","Country_name", "VY","Unit2", "hs2","hs4","Area"]]

yr_data.head()

,Year,exp_imp,Country_name,VY,Unit2,hs2,hs4,Area
0,1988,1,France,25706,NO,1,101,Western_Europe
1,1988,1,North_Korea,5600,NO,1,101,Asia
2,1988,1,Taiwan,9600,NO,1,101,Asia
3,1988,1,China,1230,NO,1,102,Asia
4,1988,1,United_States_of_America,3500,NO,1,102,North_America

In [3]:
hs2 = pd.read_csv("hs2_eng.csv")
hs4 = pd.read_csv("hs4_eng.csv")
hs_list = [hs2,hs4]

for hs in hs_list:
     hs_num = hs.columns.values[0]
     yr_data = pd.merge(yr_data, hs, how = 'left', on = [hs_num])
del yr_data['hs2'] 
del yr_data['hs4'] 

#yr_data.columns
yr_data.head()

,Year,exp_imp,Country_name,VY,Unit2,Area,hs2_name,hs4_name
0,1988,1,France,25706,NO,Western_Europe,Live animals.,Live_horses__asses__mules_and_hinnies
1,1988,1,North_Korea,5600,NO,Asia,Live animals.,Live_horses__asses__mules_and_hinnies
2,1988,1,Taiwan,9600,NO,Asia,Live animals.,Live_horses__asses__mules_and_hinnies
3,1988,1,China,1230,NO,Asia,Live animals.,Live_bovine_animals
4,1988,1,United_States_of_America,3500,NO,North_America,Live animals.,Live_bovine_animals

In [4]:
yr_data = yr_data.rename(columns={"VY": "Value_in_Yen","QY2": "Quantity_for_Unit2"})
yr_data['exp_imp'] = yr_data['exp_imp'].replace({1:"Export", 2: "Import"})
yr_data.head()

,Year,exp_imp,Country_name,Value_in_Yen,Unit2,Area,hs2_name,hs4_name
0,1988,Export,France,25706,NO,Western_Europe,Live animals.,Live_horses__asses__mules_and_hinnies
1,1988,Export,North_Korea,5600,NO,Asia,Live animals.,Live_horses__asses__mules_and_hinnies
2,1988,Export,Taiwan,9600,NO,Asia,Live animals.,Live_horses__asses__mules_and_hinnies
3,1988,Export,China,1230,NO,Asia,Live animals.,Live_bovine_animals
4,1988,Export,United_States_of_America,3500,NO,North_America,Live animals.,Live_bovine_animals

In [40]:
final_dataset= yr_data[yr_data['Year'].isin([])]

# 2000 Import and exports
ds_2000_imports = final_dataset_2000.loc[final_dataset_2000['exp_imp'] == 'Import']
ds_2000_exports = final_dataset_2000.loc[final_dataset_2000['exp_imp'] == 'Export']

In [43]:
final_dataset_2015 = yr_data[yr_data['Year'].isin([2015])]

# 2015 Import and exports
ds_2015_imports = final_dataset_2015.loc[final_dataset_2015['exp_imp'] == 'Import']
ds_2015_exports = final_dataset_2015.loc[final_dataset_2015['exp_imp'] == 'Export']

In [42]:
ds_2000_import_byvalue = ds_2000_imports.sort_values('Value_in_Yen', ascending = False)[:20]
ds_2000_export_byvalue = ds_2000_exports.sort_values('Value_in_Yen', ascending = False)[:20]

,Year,exp_imp,Country_name,Value_in_Yen,Unit2,Area,hs2_name,hs4_name
2048854,2000,Export,United_States_of_America,1652460761,NO,North_America,Vehicles other than railway or tramway rolling...,Motor_cars_and_other_motor_vehicles_principall...
2049043,2000,Export,United_States_of_America,972258923,NO,North_America,Vehicles other than railway or tramway rolling...,Motor_cars_and_other_motor_vehicles_principall...
2048669,2000,Export,United_States_of_America,655489129,NO,North_America,Vehicles other than railway or tramway rolling...,Motor_cars_and_other_motor_vehicles_principall...
2073103,2000,Export,United_States_of_America,570618248,KG,North_America,NaN,unknow
2021827,2000,Export,United_States_of_America,401291246,KG,North_America,Machines,Parts_and_accessories_(other_than_covers__carr...

In [44]:
ds_2015_import_byvalue = ds_2015_imports.sort_values('Value_in_Yen', ascending = False)[:20]
ds_2015_export_byvalue = ds_2015_exports.sort_values('Value_in_Yen', ascending = False)[:20]

In [49]:
# Most common hs2 imports and exports in 2000
ds_2000_imports_mc_hs2 = ds_2000_imports['hs2_name'].value_counts()[:20]
ds_2000_imports_mc_hs2

ds_2000_exports_mc_hs2 = ds_2000_exports['hs2_name'].value_counts()[:20]
ds_2000_exports_mc_hs2

Machines                                                                                                                                                                                    26762
Electrical machinery and equipment and parts thereof; sound recorders and reproducers  television image and sound recorders and reproducers  and parts and accessories of such articles.    20171
Optical  photographic  cinematographic  measuring  checking  precision  medical or surgical instruments and apparatus; parts and accessories thereof.                                       11294
Vehicles other than railway or tramway rolling-stock  and parts and accessories thereof.                                                                                                     6800
Plastics and articles thereof.                                                                                                                                                               5939
Articles of iron or steel.                                                                                                                                                                   5546
Organic chemicals.                                                                                                                                                                           5191
Iron and steel.                                                                                                                                                                              5164
Tools  implements  cutlery  spoons and forks  of base metal; parts thereof of base metal.                                                                                                    3405
Rubber and articles thereof.                                                                                                                                                                 3227
Paper and paperboard; articles of paper pulp  of paper or of paperboard.                                                                                                                     2743
Man-made filaments; strip and the like of man-made textile materials.                                                                                                                        2667
Inorganic chemicals; organic or inorganic compounds of precious metals  of rare-earth metals  of radioactive elements or of isotopes.                                                        2442
Cotton.                                                                                                                                                                                      2201
Miscellaneous manufactured articles.                                                                                                                                                         2078
Glass and glassware.                                                                                                                                                                         1816
Tanning or dyeing extracts; tannins and their derivatives; dyes  pigments and other colouring matter; paints and varnishes; putty and other mastics; inks.                                   1780
Miscellaneous chemical products.                                                                                                                                                             1775
Man-made staple fibres.                                                                                                                                                                      1681
Photographic or cinematographic goods.                                                                                                                                                       1536
Name: hs2_name, dtype: int64

In [26]:
# Most common imports 
overall = pd.read_csv('overall.csv')
overall_1988 = overall[overall['Year'].isin([1988])]

overall_1988['Value_in_Yen'] = overall_1988['Value_in_Yen'].multiply(1.158)
overall_1988 = overall_1988.sort_values('Value_in_Yen',ascending = False)
overall_1988.to_csv(r'C:\Users\Sarrah\Downloads\1988.csv', index = True, header = True)


overall_2015 = overall[overall['Year'].isin([2015])]
overall_2015 = overall_2015.sort_values('Value_in_Yen', ascending = False)

overall_1988

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                                   hs2_name  Year  Value_in_Yen
9                Cars and their accessories  1988  9.140955e+09
1  Electrical machinery equipment and parts  1988  8.963842e+09
3                                  Machines  1988  8.250529e+09
4     Precision instruments and accessories  1988  2.108246e+09
2                            Iron and steel  1988  1.645693e+09
0                 Articles of iron or steel  1988  9.676725e+08
5                         Organic chemicals  1988  7.839590e+08
6             Plastics and articles thereof  1988  6.763909e+08
7               Rubber and articles thereof  1988  5.249941e+08
8                    Base metal for cutlery  1988  2.230734e+08

In [51]:
# Most common hs4 imports and exports in 2000
ds_2000_imports_mc_hs4 = ds_2000_imports['hs4_name'].value_counts()[:20]
ds_2000_imports_mc_hs4

ds_2000_exports_mc_hs4 = ds_2000_exports['hs4_name'].value_counts()[:20]
ds_2000_exports_mc_hs4

Parts_and_accessories_of_the_motor_vehicles_of_headings_87.01_to_87.05                                                                                                                                                                                                                                                                                                1842
Instruments_and_appliances_used_in_medical__surgical__dental_or_veterinary_sciences__including_scintigraphic_apparatus__other_electro-medical_apparatus_and_sight-testing_instruments                                                                                                                                                                                 1621
Motor_cars_and_other_motor_vehicles_principally_designed_for_the_transport_of_persons_(other_than_those_of_heading_87.02)__including_station_wagons_and_racing_cars                                                                                                                                                                                                   1534
Transmission_shafts_(including_cam_shafts_and_crank_shafts)_and_cranks;_bearing_housings_and_plain_shaft_bearings;_gears_and_gearing;_ball_or_roller_screws;_gear_boxes_and_other_speed_changers__including_torque_converters;_flywheels_and_pulleys__including_pulley_blocks;_clutches_and_shaft_couplings_(including_universal_joints)                              1368
Insulated_(including_enamelled_or_anodised)_wire__cable_(including_co-axial_cable)_and_other_insulated_electric_conductors__whether_or_not_fitted_with_connectors;_optical_fibre_cables__made_up_of_individually_sheathed_fibres__whether_or_not_assembled_with_electric_conductors_or_fitted_with_connectors                                                         1302
Woven_fabrics_of_synthetic_filament_yarn__including_woven_fabrics_obtained_from_materials_of_heading_54.04.                                                                                                                                                                                                                                                           1266
Automatic_data_processing_machines_and_units_thereof;_magnetic_or_optical_readers__machines_for_transcribing_data_onto_data_media_in_coded_form_and_machines_for_processing_such_data__not_elsewhere_specified_or_included                                                                                                                                            1238
Pumps_for_liquids__whether_or_not_fitted_with_a_measuring_device;_liquid_elevators.                                                                                                                                                                                                                                                                                   1200
Electric_motors_and_generators(excluding_generating_sets)                                                                                                                                                                                                                                                                                                             1086
Interchangeable_tools_for_hand_tools__whether_or_not_power-operated__or_for_machine-tools_(for_example__for_pressing__stamping__punching__tapping__threading__drilling__boring__broaching__milling__turning_or_screw_driving)__including_dies_for_drawing_or_extruding_metal__and_rock_drilling_or_earth_boring_tools.                                                1043
Air_or_vacuum_pumps__air_or_other_gas_compressors_and_fans;_ventilating_or_recycling_hoods_incorporating_a_fan__whether_or_not_fitted_with_filters.                                                                                                                                                                                                                   1043
Woven_fabrics_of_cotton__containing_85_%_or_more_by_weight_of_cotton__weighing_not_more_than_200_g/m2.                                                                                                                                                                                                                                                                1026
Electrical_ignition_or_starting_equipment_of_a_kind_used_for_spark-ignition_or_compression-ignition_internal_combustion_engines_(for_example__ignition_magnetos__magneto-dynamos__ignition_coils__sparking_plugs_and_glow_plugs__starter_motors);_generators_(for_example__dynamos__alternators)_and_cut-outs_of_a_kind_used_in_conjunction_with_such_engines          969
Motor_vehicles_for_the_transport_of_goods                                                                                                                                                                                                                                                                                                                              952
Electrical_apparatus_for_switching_or_protecting_electrical_circuits__or_for_making_connections_to_or_in_electrical_circuits_(for_example__switches__relays__fuses__surge_suppressors__plugs__sockets__lamp-holders_and_other_connectors__junction_boxes)__for_a_voltage_not_exceeding_1_000_volts;_connectors_for_optical_fibres__optical_fibre_bundles_or_cables     943
Taps__cocks__valves_and_similar_appliances_for_pipes__boiler_shells__tanks__vats_or_the_like__including_pressure-reducing_valves_and_thermostatically_controlled_valves                                                                                                                                                                                                915
Screws__bolts__nuts__coach_screws__screw_hooks__rivets__cotters__cotter-pins__washers_(including_spring_washers)_and_similar_articles__of_iron_or_steel                                                                                                                                                                                                                892
Electrical_transformers__static_converters_(for_example__rectifiers)_and_inductors                                                                                                                                                                                                                                                                                     873
Sewing_machines__other_than_book-sewing_machines_of_heading_84.40;_furniture__bases_and_covers_specially_designed_for_sewing_machines;_sewing_machine_needles                                                                                                                                                                                                          838
Other_plates__sheets__film__foil_and_strip__of_plastics__non-cellular_and_not_reinforced__laminated__supported_or_similarly_combined_with_other_materials.                                                                                                                                                                                                             824
Name: hs4_name, dtype: int64

In [52]:
# Most common hs4 imports and exports in 2015
ds_2015_imports_mc_hs4 = ds_2015_imports['hs4_name'].value_counts()[:20]
ds_2015_imports_mc_hs4

ds_2015_exports_mc_hs4 = ds_2015_exports['hs4_name'].value_counts()[:20]
ds_2015_exports_mc_hs4

Motor_cars_and_other_motor_vehicles_principally_designed_for_the_transport_of_persons_(other_than_those_of_heading_87.02)__including_station_wagons_and_racing_cars                                                                                                                                                                                                                                         2046
Instruments_and_appliances_used_in_medical__surgical__dental_or_veterinary_sciences__including_scintigraphic_apparatus__other_electro-medical_apparatus_and_sight-testing_instruments                                                                                                                                                                                                                       1831
Parts_and_accessories_of_the_motor_vehicles_of_headings_87.01_to_87.05                                                                                                                                                                                                                                                                                                                                      1784
Transmission_shafts_(including_cam_shafts_and_crank_shafts)_and_cranks;_bearing_housings_and_plain_shaft_bearings;_gears_and_gearing;_ball_or_roller_screws;_gear_boxes_and_other_speed_changers__including_torque_converters;_flywheels_and_pulleys__including_pulley_blocks;_clutches_and_shaft_couplings_(including_universal_joints)                                                                    1364
Pumps_for_liquids__whether_or_not_fitted_with_a_measuring_device;_liquid_elevators.                                                                                                                                                                                                                                                                                                                         1266
Motor_vehicles_for_the_transport_of_goods                                                                                                                                                                                                                                                                                                                                                                   1245
Air_or_vacuum_pumps__air_or_other_gas_compressors_and_fans;_ventilating_or_recycling_hoods_incorporating_a_fan__whether_or_not_fitted_with_filters.                                                                                                                                                                                                                                                         1113
Interchangeable_tools_for_hand_tools__whether_or_not_power-operated__or_for_machine-tools_(for_example__for_pressing__stamping__punching__tapping__threading__drilling__boring__broaching__milling__turning_or_screw_driving)__including_dies_for_drawing_or_extruding_metal__and_rock_drilling_or_earth_boring_tools.                                                                                      1095
Woven_fabrics_of_synthetic_filament_yarn__including_woven_fabrics_obtained_from_materials_of_heading_54.04.                                                                                                                                                                                                                                                                                                 1040
Taps__cocks__valves_and_similar_appliances_for_pipes__boiler_shells__tanks__vats_or_the_like__including_pressure-reducing_valves_and_thermostatically_controlled_valves                                                                                                                                                                                                                                     1019
Electric_motors_and_generators(excluding_generating_sets)                                                                                                                                                                                                                                                                                                                                                    985
Woven_fabrics_of_cotton__containing_85_%_or_more_by_weight_of_cotton__weighing_not_more_than_200_g/m2.                                                                                                                                                                                                                                                                                                       954
Screws__bolts__nuts__coach_screws__screw_hooks__rivets__cotters__cotter-pins__washers_(including_spring_washers)_and_similar_articles__of_iron_or_steel                                                                                                                                                                                                                                                      940
Electrical_apparatus_for_switching_or_protecting_electrical_circuits__or_for_making_connections_to_or_in_electrical_circuits_(for_example__switches__relays__fuses__surge_suppressors__plugs__sockets__lamp-holders_and_other_connectors__junction_boxes)__for_a_voltage_not_exceeding_1_000_volts;_connectors_for_optical_fibres__optical_fibre_bundles_or_cables                                           909
Insulated_(including_enamelled_or_anodised)_wire__cable_(including_co-axial_cable)_and_other_insulated_electric_conductors__whether_or_not_fitted_with_connectors;_optical_fibre_cables__made_up_of_individually_sheathed_fibres__whether_or_not_assembled_with_electric_conductors_or_fitted_with_connectors                                                                                                869
Ball_or_roller_bearings                                                                                                                                                                                                                                                                                                                                                                                      869
Centrifuges__including_centrifugal_dryers;_filtering_or_purifying_machinery_and_apparatus__for_liquids_or_gases.                                                                                                                                                                                                                                                                                             816
Instruments_and_apparatus_for_physical_or_chemical_analysis_(for_example__polarimeters__refractometers__spectrometers__gas_or_smoke_analysis_apparatus);_instruments_and_apparatus_for_measuring_or_checking_viscosity__porosity__expansion__surface_tension_or_the_like;_instruments_and_apparatus_for_measuring_or_checking_quantities_of_heat__sound_or_light_(including_exposure_meters);_microtomes     800
Electrical_ignition_or_starting_equipment_of_a_kind_used_for_spark-ignition_or_compression-ignition_internal_combustion_engines_(for_example__ignition_magnetos__magneto-dynamos__ignition_coils__sparking_plugs_and_glow_plugs__starter_motors);_generators_(for_example__dynamos__alternators)_and_cut-outs_of_a_kind_used_in_conjunction_with_such_engines                                                797
Tools_for_working_in_the_hand__pneumatic__hydraulic_or_with_self-contained_electric_or_non-electric_motor                                                                                                                                                                                                                                                                                                    790
Name: hs4_name, dtype: int64

In [53]:
# Most common imports and exports Areas in 2000
ds_2000_imports_mc_area = ds_2000_imports['Area'].value_counts()[:20]
ds_2000_imports_mc_area

ds_2000_exports_mc_area = ds_2000_exports['Area'].value_counts()[:20]
ds_2000_exports_mc_area

Asia                              52503
Western_Europe                    32861
Middle_and_South_America          16899
Middle_East                       11727
Africa                            11393
Oceania                            8622
North_America                      7074
Central_and_East_Europe_Russia     6002
Special_Area                          2
Name: Area, dtype: int64

In [54]:
# Most common imports and exports Areas in 2015
ds_2015_imports_mc_area = ds_2015_imports['Area'].value_counts()[:20]
ds_2015_imports_mc_area

ds_2015_exports_mc_area = ds_2015_exports['Area'].value_counts()[:20]
ds_2015_exports_mc_area

Asia                              51528
Western_Europe                    27899
Middle_and_South_America          15072
Africa                            11071
Middle_East                       10371
Central_and_East_Europe_Russia     9982
Oceania                            7149
North_America                      6396
Name: Area, dtype: int64

In [55]:
# Most common imports and exports with Countries in 2000
ds_2000_imports_mc_country = ds_2000_imports['Country_name'].value_counts()[:20]
ds_2000_imports_mc_country

ds_2000_exports_mc_country = ds_2000_exports['Country_name'].value_counts()[:20]
ds_2000_exports_mc_country

Korea                       4861
Taiwan                      4839
China                       4823
Hong_Kong                   4673
United_States_of_America    4584
Thailand                    4143
Singapore                   4026
Indonesia                   3643
Philippines                 3567
Malaysia                    3553
United_Kingdom              3141
Germany                     3125
Australia                   3055
Viet_Nam                    2863
France                      2757
Italy                       2565
India                       2541
Netherlands                 2485
Canada                      2483
Spain                       2070
Name: Country_name, dtype: int64

In [56]:
filtered_overall =

China                       4693
Taiwan                      4423
Korea                       4384
United_States_of_America    4178
Thailand                    4093
Hong_Kong                   4088
Viet_Nam                    3832
Singapore                   3470
Indonesia                   3383
Malaysia                    3315
Philippines                 3233
Germany                     2865
India                       2809
United_Kingdom              2629
Australia                   2596
France                      2455
Italy                       2336
Canada                      2215
Netherlands                 2168
United_Arab_Emirates        2093
Name: Country_name, dtype: int64